body {
    font-family: QuickSand-Regular,sans-serif;
    font-size: 16px;
    color: #929292;
}


/*heading tags*/

h1 {
    font-size: 36px;
    font-family: QuickSand-Bold,sans-serif;
}

h2 {
    font-family: QuickSand-Medium,sans-serif;
    font-size: 32px;
}

h3 {
    font-family: QuickSand-Medium,sans-serif;
    font-size: 24px;
}

h4 {
    font-family: QuickSand-Medium,sans-serif;
    font-size: 18px;
}

/*flexbox*/

.flex {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.justify-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.fl-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/*flexbox*/

/*colors*/

.color-primary {
    color: #0f7bff;
}

.color-secondary {
    color: #333333;
}

/*colors*/

/* containers */
.container-lg {
    max-width: 1620px;
    width: 100%;margin: 0 auto;
}

.container {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
}

.container-sd {
    max-width: 756px;
    width: 100%;
    margin: 0 auto;
}

/* containers */

/*buttons*/

.btn {
    font-family: QuickSand-Bold,sans-serif;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    height: 50px;
    border-radius: 35px;
    max-width: 165px;
    width: 100%;
    outline: none;
    font-size: 16px;
    text-align: center;
    border: 0;
}

.filled {
    line-height: 50px;
}

.outline {
    background: transparent;
    line-height: 46px;
    border: 2px solid #0f7bff;
}

.primary {
    background: #0f7bff;
    color: white;
}

.secondary {
    color: #0f7bff;
}

/*buttons*/

/*paragraph*/
.paragraph {
    line-height: 27px;
}

/*paragraph*/

/*item*/

/*section title*/

.section-title {
    max-width: 735px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.section-title p {
    margin-top: 30px;
}

.section-title h2:before {
    z-index: -1;
    right: 51%;
    bottom: 54px;
    position: absolute;
    content: '';
    width: 30px;
    height: 80px;
    border-radius: 14px;
    background: #dfedff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.section-title h2:after {
    z-index: -1;
    top: -19px;
    position: absolute;
    content: '';
    width: 30px;
    height: 80px;
    border-radius: 14px;
    background: #dfedff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 50%;
}
/*section title*/

/*hover*/
